	/*

http://paletton.com/#uid=53w0u0kt+lZlOstrKqzzSiaJidt\

.color-primary-0 { color: #A65032 }	/* Red
.color-primary-1 { color: #F8B49C }
.color-primary-2 { color: #CD7A5D }
.color-primary-3 { color: #7C2C11 }
.color-primary-4 { color: #521500 }

.color-secondary-1-0 { color: #A67A32 }	/* Yellow
.color-secondary-1-1 { color: #F8D59C }
.color-secondary-1-2 { color: #CDA25D }
.color-secondary-1-3 { color: #7C5311 }
.color-secondary-1-4 { color: #523200 }

.color-secondary-2-0 { color: #28466D }	/* Blue
.color-secondary-2-1 { color: #6B84A3 }
.color-secondary-2-2 { color: #436186 }
.color-secondary-2-3 { color: #112D51 }
.color-secondary-2-4 { color: #041A36 }

.color-complement-0 { color: #23744D }	/* Green
.color-complement-1 { color: #6DAD8E }
.color-complement-2 { color: #418F69 }
.color-complement-3 { color: #0C5632 }
.color-complement-4 { color: #00391D }


*/

#header p {
	font-size: 34px;
	font-family: 'Bitter', serif;
	font-weight: 700;
	padding-left: 10px;
}


#menu p {
	color: white;
}

#menu .effect-julia p {
	color: #2f3238;
}

.space {
	padding: 30px 0px;
}

.fa {
	padding: 6px 10px;
}

.fa:hover {
	cursor: pointer;
}

.fa-github:hover {
	color: #A65032;
}

.fa-twitter:hover {
	color: #A67A32;
}

.fa-envelope:hover {
	color: #23744D;
}

/*START OF PROJECT SECTION*/

#project_table {
	font-family: 'Droid Serif', serif;
}

#project_table h2 {
	padding-bottom: 20px;
	font-size: 20px;
}

#project_table p {
	font-size: 16px;
}

#project_list {
	font-family: 'Droid Serif', serif;
}

.projects {
	margin-top: 50px;
}

#project_list .container {
	padding: 0px 40px;
}

#project_list h1, h2 {
	font-weight: 700;
	font-family: 'Bitter', serif;
}

#project_list h1 {
	font-size: 30px;
}

#project_list h2 {
	font-size: 25px;
}

#project_list h3 {
	line-height: 30px;
	font-size: 18px;
	padding: 20px 0px;
}

#project_list p {
	font-size: 16px;
	line-height: 25px;
	padding: 20px 0px;
	font-family: 'Droid Serif', serif;
}

#project_list a {
	display: block;
}

#project_list .links {
	margin-top: 25px;
}

/*START OF RESUME SECTION*/

#resume_list {
	font-family: 'Droid Serif', serif;
}

#resume_list h1, h2 {
	font-weight: 700;
	font-family: 'Bitter', serif;
}

#resume_list h1 {
	font-size: 30px;
	text-decoration: underline;
	padding-bottom: 20px;
}

#resume_list h2 {
	font-size: 25px;
}

#resume_list h3 {
	font-size: 18px;
}

#resume_list p {
	font-size: 14px;
	line-height: 25px;
	padding: 10px 0px;
	font-family: 'Droid Serif', serif;
}

.resume_space {
	padding: 10px 0px;
}

.resume_img_space {
	padding-top: 18px;
}

.resume_section {
	padding: 10px 0px;
}


/*BOOTSTRAP OVERRIDE*/

@media (min-width: 992px) {
	.container {
		width: 970px;
	}

	#project_list {
		padding: 0px 120px;
	}

	#resume_list {
		padding: 0px 70px 0px 130px;
	}

	#work_list {
		padding: 0px 120px;
	}
}


