		<div class="container text-center">
			<div class="resume_space">
				<div class="row" id="header">
					<div class="col-sm-6 text-left">
						<p>KUSH THAKER</p>
					</div>
					<div class="col-sm-6 text-right">
						<span>
							<a href="https://github.com/kushthaker"><i class="fa fa-github fa-3x"></i></a>
							<a href="https://twitter.com/kushthaker"><i class="fa fa-twitter fa-3x"></i></a>
							<a href="mailto:kushthaker@gmail.com"><i class="fa fa-envelope fa-3x"></i></a>
						</span>
					</div>
				</div>
			</div>

			<div scroll-detector>

				<div class="row text-center">
					<div class="col-sm-12">
						<div class="grid" id="menu">
							<figure class="effect-marley">
								<img src="img/project.png" alt="img/20"/>
								<figcaption>
									<h2><span>Projects</span></h2>
									<p>Playing.</p>
									<a href="#/projects"></a>
								</figcaption>			
							</figure>
							<figure class="effect-marley">
								<img src="img/work.png" alt="img/20"/>
								<figcaption>
									<h2><span>Resume</span></h2>
									<p>Working and studying.</p>
									<a href="#/resume">View more</a>
								</figcaption>			
							</figure>
							<figure class="effect-julia">
								<img src="img/music.png" alt="img/20"/>
								<figcaption>
									<h2><span>Music</span></h2>
									<div>
										<p>COMING SOON.</p>
									</div>
									<a href="#">View more</a>
								</figcaption>			
							</figure>						
							<figure class="effect-marley">
								<img src="img/blog.png" alt="img/20"/>
								<figcaption>
									<h2><span>Writing</span></h2>
									<p>SHARING.</p>
									<a href="http://blog.kushthaker.com/">View more</a>
								</figcaption>			
							</figure>
						</div>
					</div>
				</div>
			</div>

			<div class="resume_space"></div>

		</div>