
<a id="table"></a>


<table class="table">
    <thead>
        <tr>
            <th>Project</th>
            <th>Brief Description</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="project in ctrl.projects" id="project_table">
            <td>{{project.title}}</td>
            <td>{{project.caption}}</td>
            <td>
                <div>
                    <a href="{{project.links.main}}">See project</a>
                </div>
                <div>
                    <a href="{{project.links.main}}">Read more</a>
                </div>
                </td>
        </tr>
    </tbody>
</table>


    <div id="project_list" class="container projects" ng-repeat="project in ctrl.projects">
        <div class="row">
            <div class="text-left col-sm-6">
                <h1>{{project.title}}</h1>
            </div>
            <div class="text-right col-sm-6 links">
                <a href="{{project.links.github}}">Github</a> 
                <a href="{{project.links.demo}}">Demo</a>
            </div>
        </div>
            <h4>{{project.description}}</h4>
            <h3>{{project.topic_1}}</h3>
            <p>{{project.topic_1_content}}</p>
            <h3>{{project.topic_2}}</h3>
            <p>{{project.topic_2_content}}</p>
    </div>

                                 

<pre>{{ctrl.projects | json}}</pre>