
<a id="table"></a>

<div id="project_table" class="container-fluid text-center">

<div clas="row">
    <div class="col-sm-2">
        <h2>Project</h2>
    </div>
    <div class="col-sm-8">
        <h2>Description</h2>
    </div>
    <div class="col-sm-2">
        <h2>Links</h2>
    </div>
</div>


<div ng-repeat="project in ctrl.projects">
    <div class="row">
        <div class="col-sm-2">
            <p>{{project.title}}</p>
        </div>
        <div class="col-sm-8">
            <p>{{project.caption}}</p>
        </div>
        <div class="col-sm-2">
            <span>
            <a href="{{project.links.main}}"><i class="fa fa-github fa-2x"></i></a>
            <a href="{{project.links.main}}"><i class="fa fa-github fa-2x"></i></a>
            </span>
        </div>
    </div>
    <div class="resume_space"></div>
</div>

</div>

<div id="project_list" class="container projects" ng-repeat="project in ctrl.projects">
    <div class="row">
        <div class="text-left col-sm-6">
            <h1>{{project.title}}</h1>
        </div>
        <div class="text-right col-sm-6 links">
            <a href="{{project.links.github}}">Github</a> 
            <a href="{{project.links.demo}}">Demo</a>
        </div>
    </div>
    <h3>{{project.description}}</h3>
    <h2>{{project.topic_1}}</h2>
    <p>{{project.topic_1_content}}</p>
    <h2>{{project.topic_2}}</h2>
    <p>{{project.topic_2_content}}</p>
</div>



<pre>{{ctrl.projects | json}}</pre>