
<a id="table"></a>
<div class="space"></div>

        <div class="resume_space">
        <div class="row" id="header">
            <div class="col-sm-6 text-left">
                <a href="#/"><i class="fa fa-arrow-left fa-3x"></i></a>
            </div>
            <div class="col-sm-6 text-right">
                <span>
                    <a href="https://github.com/kushthaker"><i class="fa fa-github fa-3x"></i></a>
                    <a href="https://twitter.com/kushthaker"><i class="fa fa-twitter fa-3x"></i></a>
                    <a href="mailto:kushthaker@gmail.com"><i class="fa fa-envelope fa-3x"></i></a>
                </span>
            </div>
        </div>
    </div>

<div id="project_table" class="container-fluid text-center">

<div clas="row">
    <div class="col-sm-12">
        <h1 class="project_page_header">I learn by tinkering on projects. Here's a few of them!</h1>
        <h1 class="project_page_header">See more on my <a href="https://github.com/kushthaker">github.</a></h1>
        <div class="space"></div>
    </div>
</div>





<div ng-repeat="project in ctrl.projects">
    <div class="row">
        <div class="col-sm-2">
            <p class="title">{{project.title}}</p>
        </div>
        <div class="col-sm-8">
            <p>{{project.caption}}</p>
        </div>
        <div class="col-sm-2">
            <span>
            <a href="{{project.links.github}}"><i class="fa fa-github fa-2x"></i></a>
            <a href="{{project.links.demo}}"><i class="fa fa-desktop fa-2x"></i></a>
            </span>
        </div>
    </div>
    <div class="resume_space"></div>
</div>

</div>

<div class="resume_space"></div>


<div id="project_list" class="container projects" ng-repeat="project in ctrl.projects">
    <div class="row">
        <div class="text-left col-sm-6">
            <h1>{{project.title}}</h1>
        </div>
        <div class="text-right col-sm-6 links">
            <a href="{{project.links.github}}"><i class="fa fa-arrow-right fa-2x"></i></a> 
        </div>
    </div>
    <div class="headerline"></div>
    <h3>{{project.description}}</h3>
    <h2>{{project.topic_1}}</h2>
    <p>{{project.topic_1_content}}</p>
    <h2>{{project.topic_2}}</h2>
    <p>{{project.topic_2_content}}</p>
    <div class="descline"></div>
</div>

<div class="space"></div>