<!DOCTYPE html>
<html>
<head>
	<title>Work</title>
</head>
<body>



    <div class="space"></div>
    <a id="resume"></a>

    <div id="resume_list">


        <div class="resume_section">
            <h1>Work</h1>
            <div ng-repeat="work in ctrl.work">
                <div class="row">
                    <div class="col-sm-3 links">
                        <img ng-src="{{work.logo}}" />
                    </div>
                    <div class="col-sm-9">
                        <h2>{{work.company}}</h2>
                        <h3>{{work.role}} | {{work.date}} </h3>
                        <p>{{work.description}}</p>
                    </div>
                </div>
                <div class="resume_space"></div>
            </div>

        </div>


        <div class="resume_section">
            <h1>Education</h1>
            <div ng-repeat="edu in ctrl.edu">
                <div class="row">
                    <div class="col-sm-3 links">
                        <img ng-src="{{edu.logo}}" />
                    </div>
                    <div class="col-sm-9">
                        <h2>{{edu.company}}</h2>
                        <h3>{{edu.role}} | {{edu.date}} </h3>
                        <p>{{edu.caption}}</p>
                    </div>
                </div>
            </div>
            <div class="resume_space"></div>
        </div>

        <div class="resume_section">
            <h1>Awards</h1>
            <div ng-repeat="award in ctrl.awards">
                <div class="row">
                    <div class="col-sm-3 links">
                        <img ng-src="{{award.logo}}" />
                    </div>
                    <div class="col-sm-9">
                        <h2>{{award.award}}</h2>
                        <h3>{{award.date}} </h3>
                        <p>{{award.description}}</p>
                    </div>
                </div>
            </div>
            <div class="resume_space"></div>
        </div>
    </div>

    <div class="space"></div>




</body>
</html>